<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frama-C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'framac/main.css' %}" />
</head>
<body>
    <div class="main">
        <div class="menu">
            <ul class="navi">
                <li><a href="/framac/add-file">New file</a></li>
                <li><a href="/framac/add-directory">New directory</a></li>
                {% if file_id %}
                    <li><a href="{% url 'framac:file_delete' file_id %}">Delete file</a> </li>
                {% endif %}
            </ul>
        </div>
        <div class="file-selection">
            <p>Source file</p>
            {% load tags %}
            <ul>
            {% for file in root_directory %}
                {% with next_e=root_directory|next_element:forloop.counter0 %}
                {% with previous_e=root_directory|previous_element:forloop.counter0 %}
                {% if file == "directory:begin" %}
                    <li>{{ next_e.name }}</li>
                    <ul>
                {% elif file == "directory:end" %}
                    </ul>
                {% elif previous_e != "directory:begin" and file.is_available == True%}
                    <li><a href="{% url 'framac:file' file.id %}">{{ file.name }}</a></li>
                {% endif %}
                {% endwith %}
                {% endwith %}
            {% endfor %}
            </ul>
        </div>
        <div class="source-code">
            <textarea id="code-area-main">
                {{ file_content }}
            </textarea>
        </div>
        <div class="elements">
            <p>Elements</p>
            <textarea id="code-area-secondary">
                {% for section in file_sections.all %}
                    {{ section.status_data.data }}

                {% endfor %}
            </textarea>
        </div>
        <div class="tab">
            <ul class="navi">
                <li><a href="#information">Information</a></li>
                <li><a href="#messages">Messages</a></li>
                <li><a href="#console">Console</a></li>
                <li><a href="#values">Values</a></li>
            </ul>
        </div>
        <div class="tab-data">
            <p>Function 'order'</p>
            <p>Build successful</p>
        </div>
    </div>
</body>
</html>