<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frama-C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'framac/main.css' %}" />
</head>
<body>
    <div class="main">
        <div class="menu">
            <ul class="navi">
                <li><a href="/framac/">Frama-c</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/framac/add-file">New file</a></li>
                    <li><a href="/framac/add-directory">New directory</a></li>
                {% endif %}
                {% if file_id %}
                    <li><a href="{% url 'framac:file_delete' file_id %}">Delete file</a> </li>
                    <li><a href="{% url 'framac:reprove' file_id %}">Rerun verification</a> </li>
                {% endif %}
                {% if directory_id %}
                    <li><a href="{% url 'framac:directory_delete' directory_id %}">Delete directory</a> </li>
                {% endif %}
            </ul>
        </div>
        <div class="user-space">
            {% if user.is_authenticated %}
                Hi {{ user.username }}!
                <a href="{% url 'framac:logout' %}">Log Out</a>
            {% else %}
                  <a href="{% url 'framac:login' %}">Log In</a>
            {% endif %}
        </div>
        <div class="file-selection">
            <p>Source file</p>
            {% load tags %}
            <ul>
            {% for file in root_directory %}
                {% with next_e=root_directory|next_element:forloop.counter0 %}
                {% with previous_e=root_directory|previous_element:forloop.counter0 %}
                {% if file == "directory:begin" %}
                    {% if next_e.is_available %}
                        <li><a href="{% url 'framac:directory' next_e.id %}">{{ next_e.name }}</a></li>
                    {% endif %}
                    <ul>
                {% elif file == "directory:end" %}
                    </ul>
                {% elif previous_e != "directory:begin" and file.is_available == True%}
                    <li><a href="{% url 'framac:file' file.id %}">{{ file.name }}</a></li>
                {% endif %}
                {% endwith %}
                {% endwith %}
            {% endfor %}
            </ul>
        </div>
        <div class="source-code">
            <textarea id="code-area-main">
                {{ file_content }}
            </textarea>
        </div>
        <div class="elements">
            <p>Elements</p>
            <textarea id="code-area-secondary">
                {% for section in file_sections.all %}
                    {{ section.status_data.data }}
                    --------------------
                {% endfor %}
            </textarea>
        </div>
        <div class="tab">
            <ul class="navi">
                <li><a href="{% url 'framac:prover' %}">Provers</a></li>
                <li><a href="{% url 'framac:vc' %}">VCs</a></li>
                {% if file_id %}
                    <li><a href="{% url 'framac:result' file_id %}">Result</a> </li>
                {% endif %}
            </ul>
        </div>
        <div class="tab-data">
            {% csrf_token %}
            {% if form %}
                <form action="{% url url %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit">
                </form>
            {% endif %}
            {% if data %}
                {{ data }}
            {% endif %}
        </div>
    </div>
</body>
</html>